# FrozenGram helper (your repo)
git+https://github.com/prashantsahlot/FrozenGram.git

# voice / playback / yt
py-tgcalls
yt-dlp
ffmpeg-python

# web / http
aiohttp
flask
Flask-RESTful
requests
aiofiles

# telegram crypto + client
tgcrypto==1.2.5
pyrogram==2.0.41

# data, db, utils
isodate
Pillow
psutil
python-dotenv
asyncpg
pymongo
gender-guesser
