git+https://github.com/prashantsahlot/FrozenGram.git
py-tgcalls
yt-dlp
ffmpeg-python 

# web / http
aiohttp
flask
Flask-RESTful
requests
aiofiles
indic-transliteration
# telegram crypto + client
tgcrypto==1.2.5
pyrogram==1.4.16   # 👈 rollback to the compatible version

# spotify / misc
spotipy
isodate
Pillow
psutil
python-dotenv
asyncpg
pymongo
gender-guesser
beautifulsoup4
aiohttp
