git+https://github.com/prashantsahlot/FrozenGram.git

# voice / playback / yt
py-tgcalls
# video support for /vplay
git+https://github.com/pytgcalls/pytgcalls.git

yt-dlp
ffmpeg-python

# web / http
aiohttp
flask
Flask-RESTful
requests
aiofiles

# telegram crypto + client
tgcrypto==1.2.5
pyrogram==1.4.16   # 👈 rollback to the compatible version

# spotify / misc
spotipy
isodate
Pillow
psutil
python-dotenv
asyncpg
pymongo
gender-guesser
